.preset {
    cursor: pointer;
    padding: 7px 10px;
    margin-bottom: 10px;
    background-color: #3a3a57;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.preset:hover {
    background-color: #4a4a67;
}

.preset.selected {
    /*background-color: rgba(83, 191, 235, 0.5);*/
    background-color: rgba(159, 24, 253, 0.5);
    color: white;
}

.preset-number {
    font-size: 18px;
    color: #53bfeb;
    margin-right: 10px;
    margin-top: 4px;
}

.preset-name {
    flex-grow: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #6c2ca7;
    background-color: #242424;
    color: white;
    max-width: 110px;
    margin-left: 10px;
}

.preset-icon-container {
    margin-top: 3px;
}

.preset-arrow {
    color: #53bfeb;
    margin-top: 3px;
    margin-right: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
    transform: rotate(-90deg) scale(1.8);
    margin-left: auto;
}

.preset-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.topology-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.type-display {
    font-size: 18px;
    text-align: center;
}

.preset-table {
    width: 500px;
    max-width: 500px;
    background-color: rgba(159, 24, 253, 0.5);
    color: white;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
}

.preset-table td {
    padding: 5px;
}

.preset-table td:first-child {
    text-align: left;
}

.preset-table td:last-child {
    text-align: right;
    cursor: pointer;
}

.preset-table th {
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

.slider {
    width: 290px;
    height: 8px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 4px;
    outline: none;
    transition: background 0.1s;
}

.slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    border-radius: 4px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #53bfeb;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin-top: -4px;
}

.value-display {
    text-align: center;
    font-weight: bold;
    width: 90px;
}

.small-tables-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.algorithm-title {
    font-size: 14px;
}

.rotate-arrow {
    display: inline-block;
    transform: rotate(180deg);
}

.preset-config-container {
    width: 265px;
    max-width: 265px;
    background-color: #3a3a57;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: -10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.preset-config-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preset-config-label {
    color: white;
    font-size: 14px;
}

.preset-config-button, .image-button {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.preset-config-row:hover {
    background-color: #4a4a67;
}

.image-container {
    width: 500px;
    max-width: 500px;
    margin-top: 20px;
    background-color: rgba(159, 24, 253, 0.5);
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.image-title {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.image-table {
    width: 100%;
    border-collapse: separate;
}

.image-table tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.image-table td {
    text-align: center;
    flex: 1; /* Faz com que cada coluna ocupe espaço igual */
}

.image-table td:last-child {
    border-left: 1px solid rgba(216, 216, 216, 0.35);
}

.popup-container {
    position: absolute;
    width: 100px;
    height: auto;
    max-height: 200px;
    background: #3a3a57;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
}

.popup-option-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 180px;
}

.popup-option-button {
    background-color: #242424;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-option-button:hover {
    background-color: #4a4a67;
}

.popup-option-list::-webkit-scrollbar {
    width: 8px;
}

.popup-option-list::-webkit-scrollbar-thumb {
    background: #6c2ca7;
    border-radius: 10px;
}
